<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AG JS DS POC</title>
    <meta name="viewport" content="width=device-width, user-scalable=0">
    <link rel="stylesheet" href="bower_components/topcoat/css/topcoat-mobile-light.min.css">
    <link rel="stylesheet" href="bower_components/topcoat-icons/font/icomatic.css">
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="jsondiffpatch.html.css">
</head>
<body>
    <section id="main">
        <div class="topcoat-navigation-bar">
            <div class="topcoat-navigation-bar__item quarter reset">
                <button class="topcoat-button--quiet reset">Reset</button>
            </div>
            <div class="topcoat-navigation-bar__item center half">
                <h1 class="topcoat-navigation-bar__title">Luke Skywalker</h1>
            </div>
        </div>
        <div class="results">
            <table>
                <thead>
                    <tr>
                        <th>
                            <h2>Visual Diff</h2>
                            <div class="header-options">
                                <input id="showunchanged" type="checkbox">
                                <label for="showunchanged">
                                    Show unchanged values
                                </label>
                            </div>
                        </th>
                        <th>
                            <h2>JSON Diff</h2>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="visualdiff">
                            <p class="visualdiff" id="visualdiff">
                            </p>
                        </td>
                        <td class="jsondiff">
                            <p>
                                (<span id="jsondifflength"></span>
                                KB)
                            </p>
                            <pre id="jsondiff">
                            </pre>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button class="merge">Merge?</button>
        </div>
        <div class="content">
            <div class="detail"></div>
            <h3>Hobbies</h3>
            <ul class="topcoat-list__container" id="hobby-list"></ul>
        </div>
    </section>
    <script src="bower_components/jquery/jquery.min.js"></script>
    <script src="bower_components/lodash/dist/lodash.min.js"></script>
    <script src="aerogear.custom.js"></script>
    <script type='text/javascript' src='jsondiffpatch.html.js'></script>
    <script src="app.js"></script>

    <script type="text/template" id="detail">
        <div class="full left">
         <ul class="topcoat-list__container">
            <li class='topcoat-list__item'><%=content.name%></li>

            <li class='topcoat-list__item'>
                revision: <%=rev%>
            </li>
            <li class='topcoat-list__item'>
                <div class="view">
                    <label>Profession:<%=content.profession%></label>
                </div>
                <input class="edit" value="<%=content.profession%>" id="profession">
            </li>
            </ul>
        </div>
    </script>

    <script type="text/template" id="hobbies">
        <% _.each( hobbies, function( hobby ){ %>
            <li class='topcoat-list__item'>
                <div class="view">
                    <label><%=hobby.description%></label>
                </div>
                <input class="edit hobby" value="<%=hobby.description%>" id="<%=hobby.id%>">
            </li>
        <% }) %>
    </script>
</body>
</html>
